.pageTitle{
  margin-top: 5%;
}

.center{
  text-align: center;
}

.url{
  word-break: break-all;
}

.warning{
  color: red;
}

.backButton{
  margin-right: 40%;
  padding: 0.5em 1.4em;
  background-color: #dddddd;
  border-bottom: 0px;
  border-right: 0px;
}

.loadButton{
  margin-top: 1%;
  padding: 0.5em 3em;
  background-color: #dddddd;
  border-bottom: 0px;
  border-right: 0px;
}